<?xml version="1.0"?>
<!--
 ~ Copyright (c) 2019 TechDivision GmbH
 ~ All rights reserved
 ~
 ~ This product includes proprietary software developed at TechDivision GmbH, Germany
 ~ For more information see http://www.techdivision.com/
 ~
 ~ To obtain a valid license for using this software please contact us at
 ~ license@techdivision.com
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!--Order Export-->
    <event name="techdivision_pixi_export_order_before">
        <observer name="pixiapicustomize_export_order_before" instance="pixiExample\PixiApiCustomize\Observer\ExportOrderBefore" />
    </event>
    <event name="techdivision_pixi_export_order_item_before">
        <observer name="pixiapicustomize_export_order_item_before" instance="pixiExample\PixiApiCustomize\Observer\ExportOrderItemBefore" />
    </event>
    <event name="techdivision_pixi_export_order_item_after">
        <observer name="pixiapicustomize_export_order_item_after" instance="pixiExample\PixiApiCustomize\Observer\ExportOrderItemAfter" />
    </event>
    <event name="techdivision_pixi_export_order_after">
        <observer name="pixiapicustomize_export_order_after" instance="pixiExample\PixiApiCustomize\Observer\ExportOrderAfter" />
        <!-- iWay PayPal PLUS observer -->
        <observer name="iways_ppp_export_order_after" instance="pixiExample\PixiApiCustomize\Observer\IWaysPayPalPlusExportOrderAfter" />
    </event>

    <!-- Import Order -->
    <event name="techdivision_pixi_import_order_status_after">
        <observer name="pixiapicustomize_import_order_status_after" instance="pixiExample\PixiApiCustomize\Observer\ImportOrderStatusAfter" />
    </event>

    <!--Catalog Export-->
    <event name="techdivision_pixi_export_catalog_check">
        <observer name="pixiapicustomize_export_catalog_check" instance="pixiExample\PixiApiCustomize\Observer\ExportCatalogCheck" />
    </event>
    <event name="techdivision_pixi_export_catalog_products_article_features">
        <observer name="pixiapicustomize_export_catalog_products_article_features" instance="pixiExample\PixiApiCustomize\Observer\ExportCatalogArticleFeature" />
    </event>
    <event name="techdivision_pixi_export_catalog_products_article">
        <observer name="pixiapicustomize_export_catalog_products_article" instance="pixiExample\PixiApiCustomize\Observer\ExportCatalogProductsArticle" />
    </event>
    <event name="techdivision_pixi_export_catalog_products">
        <observer name="pixiapicustomize_export_catalog_products" instance="pixiExample\PixiApiCustomize\Observer\ExportCatalogProducts" />
    </event>
    <event name="techdivision_pixi_export_catalog_product_collection">
        <observer name="pixiapicustomize_export_catalog_product_collection" instance="pixiExample\PixiApiCustomize\Observer\ExportCatalogProductCollection" />
    </event>

    <!--Import stock-->
    <event name="techdivision_pixi_import_stock_sourceitem_before_save">
        <observer name="pixiapicustomize_import_stock_sourceitem" instance="pixiExample\PixiApiCustomize\Observer\ImportStockSourceItemBeforeSave" />
    </event>
    <event name="techdivision_pixi_import_stock_item_before_save">
        <observer name="pixiapicustomize_import_stock_item" instance="pixiExample\PixiApiCustomize\Observer\ImportStockItemBeforeSave" />
    </event>
    <event name="techdivision_pixi_import_stock_product_before_save">
        <observer name="pixiapicustomize_import_stock_product" instance="pixiExample\PixiApiCustomize\Observer\ImportStockProductBeforeSave" />
    </event>
</config>
